@import '~bootstrap';

    .bg-img {
        height: 30vh;
        background-size: cover;
        background-position: center center;
        max-width: 100%;
        overflow: hidden;
        object-fit: cover;
    }

@media (min-width: 768px) {

    .col {
        height: 96vh;
    }
    
    // .login-form {
    //     padding: 80px 8% 20px;
    // }
    
}