@import '~bootstrap';

    .login-img {
        flex-basis: 30%;
        background-size: cover;
        background-position: center center;
        max-width: 100%;
        overflow: hidden;
        object-fit: cover;
    }

    // .btn {
    //     background: linear-gradient(45deg, rgba(225,27,242,1) 11%, rgba(255,146,29,1) 92%);
    //     border: 2px;
    // }


@media (min-width: 768px) {

    .col {
        flex-basis: 50%;;
        // height: 94v
    }
    
    .login-img {
        background-position: center center;
        flex-basis: 50%;
    }
    
    .login-form {
        padding: 80px 8% 20px;
    }
    
}
