@import '~bootstrap';

    .login-img {
        max-height: 30vh;
        background-size: cover;
        background-position: center center;
        max-width: 100%;
    }

    .col {
        height: 100vh;
    }

@media (min-width: 768px) {
    
    .login-img {
        background-position: center center;
        flex-basis: 50%;
        max-height: 100vh;
    }
    
    .login-form {
        padding: 80px 8% 20px;
    }
    
}
